@import '../../assets/css/color.less';
@import '../../assets/css/component.less';

.body {
  composes: paper-padding;
  display: flex;
}

.body .section {
  display: flex;
  flex-direction: column;
}

.add-section {
  composes: section;
  padding-right: 24px;
  border-right: 1px solid @grey300;
}

.list-section {
  composes: section;
  padding-left: 24px;
  flex: 1 0 auto;
}


.section .button {
  margin-top: 12px;
}